doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(data-main='/build/main-build', src='/components/requirejs/require.js')
  body(ng-controller='AppController as appController', class='ng-cloak')
    block content