doctype html
html(manifest='manifest.appcache')
    head
        title= title + ' - ' + process.env.NODE_ENV
        link(rel='icon', href='images/favicon2.ico')
        script(src='//localhost:35729/livereload.js')
        block require
        block stylesheets
    body
        block ng-template
        block content