doctype html
html(manifest='manifest.appcache')
    head
        title= title + ' - ' + process.env.NODE_ENV
        link(rel='icon', href='images/favicon2.ico')
        link(rel='stylesheet', href='/stylesheets/style.css')
        if process.env.NODE_ENV == 'development'
          script(src='//localhost:35729/livereload.js')
          script(data-main='/javascripts/main', src='/components/requirejs/require.js')
        else
          script(data-main='/build/main-build', src='/components/requirejs/require.js')
    body
        block ng-template
        block content