doctype html
html(manifest='manifest.appcache')
    head
        title= title + ' - ' + process.env.NODE_ENV
        link(rel='icon', href='images/favicon2.ico')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='//localhost:35729/livereload.js')
        script(data-main='/build/app',src='/components/requirejs/require.js')
    body
        block ng-template
        block content