body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ng-cloak {
  visibility: hidden;
}

[post] {
  border: 1px solid #CCCCCC;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 5px 0;

  form {
    background-color: #EEEEEE;
    border: 1px solid #AAAAAA;
    padding: 10px;
  }
}